{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {#
Optional: only if you plan to use add_class filters #} {% block body %}
<section class="section-conten padding-y" style="min-height: 84vh">
  {% if request.GET.command == 'verification' %}
  <div
    class="container mx-auto alert alert-info text-center"
    role="alert"
    style="max-width: 1024px; margin-top: 100px"
  >
    Thank you for registering with us. We have sent a verification email to your
    address <strong>{{ request.GET.email }}</strong>.<br /><br />
    Already verified? <a href="{% url 'login' %}">Log in here</a>
  </div>
  {% else %}
  <div class="card mx-auto shadow" style="max-width: 420px; margin-top: 100px">
    <div class="card-body">
      <h4 class="card-title mb-4 text-center">Sign In</h4>

      {% include 'alerts.html' %}

      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="form-control form-control-lg rounded-pill shadow-sm"
            placeholder="Enter your username"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control form-control-lg rounded-pill shadow-sm"
            placeholder="Enter your password"
            required
          />
        </div>

        <div
          class="form-group d-flex justify-content-between align-items-center"
        >
          <a href="#" class="text-muted small">Forgot password?</a>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block rounded-pill"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>

  <p class="text-center mt-4">
    Don't have an account?
    <a href="{% url 'register' %}"><strong>Sign up</strong></a>
  </p>
  <br /><br />
  {% endif %}
</section>
{% endblock body %}
