{% extends "base.html" %}

{% load static %}
{% block body %}
<section class="section-intro padding-y-sm">
	<div class="container">
	
	<div class="intro-banner-wrap">
		<img class="width: 100" src="{% static 'images/banners/2.jpg' %}">
			
	</div>
		
			
			</div> <!-- container //  -->
			</section>
			<!-- ========================= SECTION MAIN END// ========================= -->
			
			<!-- ========================= SECTION  ========================= -->
			<section class="section-name padding-y-sm">
			<div class="container">
			
			<header class="section-heading">
				
				<h3 class="section-title">Popular Hostel</h3>
			</header><!-- sect-heading -->
			
				
			<div class="row">
				{% for item in hostels %}
				<div class="col-md-3">
					<div class="card card-product-grid">
						<a href="{{hostel.get_url}}" class="img-wrap"> <img src="{{item.images.url}}"> </a>
						<figcaption class="info-wrap">
							<a href="{{hostel.get_url}}" class="title">{{item.hostel_name}}</a>
							<div class="price mt-1">$ {{item.price}}</div> <!-- price-wrap.// -->
							<div class="price mt-1">{{item.location}}</div> <!-- price-wrap.// -->
						</figcaption>
					</div>
				</div> 
				{% endfor %}
				

				</div> <!-- col.// -->
			</div> <!-- row.// -->
			<div class=" d-flex justify-content-center ">
			<button type="button"  class="btn btn-outline-primary btn-lg"><a href="{% url 'hostel' %}">See all</a></button>

			</div>

			
			</div><!-- container // -->
			</section>'
	</div>
	</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION MAIN END// ========================= -->
	
	
	
{% endblock body %}